@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/colors';

.container {
  padding: layout.$spacing-07;
  border: 1px solid colors.$gray-10;
  background-color: colors.$white-0;
}

.welcome {
  @include type.type-style('heading-04');
  margin: layout.$spacing-05 0;
}

.explainer {
  margin-bottom: layout.$spacing-07;
}

// Very important for displaying maternity components in column
[data-extension-slot-name='maternity-dashboard-slot'] {
  display: flex !important;
  flex-direction: column !important;
}
